savinienbarbotaud.fr {
    #tls {
    #    dns ovh {
    #        endpoint ovh-eu
    #        application_key af8eaa7e286286d0
    #        application_secret 0b0f96a922645504a463115ed54a2470
    #        consumer_key ab7e2c5803cf3464322f3d4b32aec999
    #   }
    #}
    reverse_proxy hugo-server:443
}

